<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmx.myshop.admin.dao.TbItemCatDao">
    <sql id="select">
    a.id,
    a.parent_id  AS parentId,
    a.name,
    a.status,
    a.sort_order AS sortOrder,
    a.is_parent AS isParent,
    a.created,
    a.updated,
    b.name AS "parentName.name"
</sql>

    <sql id="JoinSql">
  LEFT JOIN tb_item_cat b ON a.parent_id = b.id
    </sql>
    

    <select id="selectAll" resultType="TbItemCat">
        SELECT
        <include refid="select"/>
        FROM
       tb_item_cat AS a
        <include refid="JoinSql"/>
       ORDER BY
        parentId  ASC,
        sortOrder ASC,
        isParent DESC
    </select>

    <select id="selectByPid" resultType="TbItemCat">
        SELECT
        <include refid="select"/>
        FROM
       tb_item_cat AS a
        <include refid="JoinSql" />
       WHERE
        a.parent_id = #{parentId}
    </select>

    <insert id="insert">
        INSERT INTO tb_item_cat (
        id,
        parent_id,
        name,
        status,
        sort_order,
        is_parent,
        created,
        updated
        )
        VALUES
        (
        #{id},
        #{parentId},
        #{name},
        #{status},
        #{sortOrder},
        #{isParent},
        #{created},
        #{updated}
        )
    </insert>

    <delete id="delete">
        DELETE FROM tb_item_cat WHERE id= #{id};
    </delete>


    <select id="getById" resultType="TbItemCat" >
        SELECT
        <include refid="select"/>
        FROM
       tb_item_cat AS a
        <include refid="JoinSql"/>
        WHERE
        a.id =#{id};
    </select>

    <update id="update">
        UPDATE
       tb_item_cat
        SET
        parent_id= #{parentId},
        name= #{name},
        status=#{status},
        sort_order=#{sortOrder},
        is_parent=#{isParent},
        updated= #{updated}
        WHERE
        id=#{id}
    </update>
    
    <select id="selectContentByCategoryId" resultType="Integer" >
        SELECT
           a.id
        FROM
       tb_item a
       LEFT JOIN tb_item_cat b
        ON a.cid = b.id
      WHERE b.id = #{id}
    </select>

</mapper>